# Webserver
Flask==1.1.2
Jinja2==3.0.3
werkzeug==2.0.2
Flask-Cors==3.0.10
mysql-connector-python==8.0.25
SQLAlchemy==1.4.15
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.2
WTForms==2.3.3
itsdangerous==2.0.1

# ART Requirements
# base
numpy>=1.18.0
scipy==1.6.2
matplotlib==3.4.1
scikit-learn>=0.22.2,<=0.24.1
six==1.15.0
tqdm==4.60.0
pandas==1.2.4
opencv-python==4.4.0.42
networkx==2.8.0
SoundFile==0.10.3.post1

# frameworks
transformers==4.19.3 

# used in a text classifier
sacremoses==0.0.45
nltk~=3.7

# voice transfer
git+https://github.com/PrithivirajDamodaran/Styleformer.git

# other
pytest~=6.2.3
pytest-flake8~=1.0.7
pytest-mock~=3.5.1
pytest-cov~=2.11.1
codecov~=2.1.11
requests~=2.25.1


# ART
adversarial-robustness-toolbox==1.6.1

pdfkit==0.6.1

# Auto format
autopep8==1.5.7

# BackdoorPony
-e .